/* 欢迎页自定义 */
.welcomePage .commands {
  display: none;
}

.welcomePage .splash  .help {
  display: none;
}

.monaco-workbench .part.editor>.content .welcomePage .title {
  margin-top: 1em;
  margin-bottom: .5em;
  flex: 1 100%;
  display: none;
}

.monaco-workbench .part.editor > .content .welcomePage a {
  color: #2aa8a2;
  transition: all .3s;
}

.monaco-workbench .part.editor>.content .welcomePage .row {
  display: flex;
  flex-flow: row;
  margin-left: 20%;
}

.monaco-workbench .part.editor>.content .welcomePage .splash .showOnStartup, .monaco-workbench .part.editor>.content .welcomePage .splash .title {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

.monaco-workbench .part.editor>.content .welcomePage .splash li {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 0;
}

.monaco-workbench .part.editor > .content .welcomePage a:hover, .monaco-workbench .part.editor > .content .welcomePage a:active {
  color: #6cc1bd;
  border-left: 3px solid;
  border-left-color: #41827e;
  padding-left: 5px;
  background: #2aa8a238;
  padding: 0 10px;
}

/* 欢迎页自定义 end *

/* 自定义 quickOpen 位置 */
.monaco-quick-open-widget {
	position: absolute;
	width: 600px;
	z-index: 2000;
	padding-bottom: 6px;
	left: 55%;
  top: 24% !important;
  margin-left: -300px;
  border: 1px solid #22A7A2;
  border-bottom: 2px solid #22A7A2;
}

/* 自定义小 quickOpen 位置 */
.quick-input-widget {
  position: absolute;
  width: 600px;
  z-index: 2000;
  padding-bottom: 6px;
  left: 55%;
  top: 24% !important;
  margin-left: -300px;
  border: 1px solid #22A7A2;
  border-bottom: 2px solid #22A7A2;
}
